language: node_js
node_js:
- "8"
- node

jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script: npm run test -- --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
